<% provide(:title, 'Contact') %>
<h1>StaticPages Contact</h1>
<h2>"...there's a reason God gave us two ears and only one mouth. Listening is twice as important as talking. But he gave us ten fingers. He must really want us to poke things! Ahhhh poke!..." Kenneth, 30 Rock</h2>

<p>Oh how my mind works, now quick before I digress again, how can I help?</p>
<p>Please let me know any problems your having with the site, anything you think I could improve or anything else thats on your mind</p>
<p>You can contact me at <a href="Zfak102@gmail.com">Zfak102@gmail.com</a> </p>
