<% provide(:title, "Home") %>
<h1>Welcome to Synaps</h1>
<h2>Making recomendations work!</h2>
<div class="row">
  <aside class="span4">
    <section>
      <body>
		<p>This is my attempt at bringing order to chaos...</p>
	  </body>
    </section>
  </aside>  
</div>

<br>
</br>

<div class="row">
  <aside class="span4">    
    <section>
      <%= render 'sessions/new' %>
    </section>
  
  </aside>
  <div class="span8">
    <%= "recomendations map"%>
    <%  %>

  </div>
</div>
