<% provide(:title, 'All data') %>
<h1>All Data</h1>

<div class="row">
  <div class="span6 offset3">

<ul class="datafiles">
  <%= render @datafile %>
</ul>

  </div>
</div>

<% provide(:title, "farnaz") %>

