<% provide(:title, 'All data') %>
<h1>All Data</h1>

<%= will_paginate %>

<ul class="datafiles">
  <%= render @datafiles %> <%= render :template => 'static_pages/about.html.erb' %> 
</ul>

<% provide(:title, "All Data") %>
<%= will_paginate %>

