<% provide(:title, @datafile.Info1) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @datafile.Info1 %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  </div>
</div>