<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%=  %>
      </h1>
    </section>
    <section>
      <%= render 'link_form' %>
    </section>
  </aside>
  <div class="span8">
    <h2>Something</h2>
    <%  %>

  </div>
</div>