<a href="<%= data_file_path(current_datafile) %>">
</a>
<h1>
  <%= current_datafile.info1 %>
</h1>
<span>
  <%= link_to "view my profile", current_datafile %>
</span>
<span>
  <%= pluralize(current_datafile.count, "Data on file") %>
</span>