<!-- error normally relates to the file being entered no the errors function -->
<% if @links_table.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@links_tables.errors.count, "error") %>.
    </div>
    <ul>
    <% @links_tables.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
