
<% provide(:title, "Recommendations") %>
<div class="row">
  <aside class="span4">
    <section>
      <body>
      
   <%= "You linked to " %><%= "Zaynub" %> <%= ". Based on that I think you would like " %> <%= "Farnaz" %> 
       <br>
     </body>
    </section>
  </aside>
  </div>
</div>
