<li>
  <span class="content"><%= links_table.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(links_table.created_at) %> ago.
  </span>
  <% if current_user?(links_table.user) %>
    <%= link_to "delete", links_table, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: links_table.content %>
  <% end %>
</li>