<footer class="footer">
  <small>
    <a href="http://www.Synaps.org/">A new way to arrange your thoughts</a>
    by Zahara Khan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>
